<div class="search-bar-wrapper flex flex-col md:flex-row md:items-center md:justify-between gap-4">
  @if (label) {
    <label class="search-bar-label shrink-0">
      {{ label }}
    </label>
  }
  <div class="relative w-full md:flex-1 md:max-w-[300px]">
    <div class="search-bar-icon-container">
      <img src="/icons/search.svg" alt="Buscar" class="h-5 w-5" />
    </div>
    <input
      type="text"
      [(ngModel)]="searchValue"
      (input)="onInputChange()"
      (keyup.enter)="onSearch()"
      [placeholder]="placeholder"
      class="search-bar-input"
    />
  </div>
</div>

